[submodule "/Users/jacob/tmp/foundry-test/lib/ds-test"]
	path = /Users/jacob/tmp/foundry-test/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "/Users/jacob/tmp/foundry-playground/lib/solmate"]
	path = /Users/jacob/tmp/foundry-playground/lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "/Users/jacob/tmp/foundry-playground/lib/forge-std"]
	path = /Users/jacob/tmp/foundry-playground/lib/forge-std
	url = https://github.com/brockelmore/forge-std
